{% extends 'base.html.twig'%}

{% block body %}
    <div class="coverImgBlog">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1 class="page-title">Notre Blog</h1>
        </div>
    </div>
    <div class="container container-blog">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 offset-lg-1 text-center mt-5 mb-5 blogText">
                Les dernières actualités du Web et de notre agence sont ici ! Vos sites méritent un
                bon référencement naturel grâce à l’amélioration des mots clés utilisés. Créer un
                contenu optimisé et une expérience utilisateur agréable est important pour acquérir du
                trafic vers votre site web. Découvrez comment faire!
            </div>

    <div class="offset-lg-1 col-lg-5 col-12  ">
        <img src="{{ asset('img/blog/article5.jpg') }}" class="img-fluid img-article" alt="googleAdWords">
        <div class="mt-3"><h4>Référencement Payant ou SEA</h4></div>
        <div class=" mt-2">
            Pour annoncer votre activité sur internet, vous pouvez financer une campagne publicitaire
            sur le moteur de recherche Google et ses sites partenaires...
        </div>

        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_1') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article2.png') }}" class="img-fluid img-article" alt="ecranResponsive">
        <div class="mt-3"><h4>Unités de mesure de CSS3</h4></div>
        <div class=" mt-2">
            Depuis longtemps nous avons pris le reflex d’utiliser le pixel pour
            dimensionner les éléments dans nos feuilles de styles CSS. Mais depuis la multiplicité des tailles d’écran...
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_2') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article3.png') }}" class="img-fluid img-article" alt="NetflixCatalogue">
        <div class="mt-3"><h4>Python : Par delà les frontières de Netflix</h4></div>
        <div class=" mt-2">
            Netflix : si ce nom ne vous évoque rien, il est temps pour vous d’ouvrir votre naviguateur
            web et de commencer à abandonner toute vie sociale...
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_3') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article4.jpg') }}" class="img-fluid img-article">
        <div class="mt-3"><h4>L’importance d’un Bon Design d’Email</h4></div>
        <div class=" mt-2">
            Les commerciaux dépensent beaucoup de temps et pas mal d’argent pour
            s’assurer que leurs sites web et pages d’atterrissage sont pensées....
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_4') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article1.png') }}" class="img-fluid img-article" alt="InconographieSEO">
        <div class="mt-3"><h4>Stratégie SEO : Création et Optimisation </h4></div>
        <div class=" mt-2">
            Nous vous aiderons dans le choix de vos mots clés lors de la rédaction de vos articles
            pour améliorer votre référencement Google...
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5"  href="{{ path('article_5') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article6.png') }}" class="img-fluid img-article" alt="InconographieIA">
        <div class="mt-3"><h4>OpenClassrooms & Microsoft pour l'IA</h4></div>
        <div class=" mt-2">
            Co-fondée par Mathieu Nebra en 2013, la plateforme OpenClassrooms
            propose des parcours de formations diplômantes reconnues par l’Etat....
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_6') }}">Lire la suite</a>
        </div>
    </div>

    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article7.jpg') }}" class="img-fluid img-article" alt="puceAMD_RYZEN3000">
        <div class="mt-3"><h4>AMD RYZEN 3000 date, CPU & Performances</h4></div>
        <div class=" mt-2">
            Les processeurs AMD Ryzen 3000 devraient être dans nos Pc cet été.
            Ces puces alimentées par la nouvelle génération de l’architecture Zen pourraient constituer...
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_7') }}">Lire la suite</a>
        </div>
    </div>
    <div class="offset-lg-1 col-lg-5">
        <img src="{{ asset('img/blog/article8.jpg') }}" class="img-fluid img-article">
        <div class="mt-3"><h4>Des écouteurs en champignons</h4></div>
        <div class=" mt-4">
            La culture de l’obsolescence programmée dans l’électronique produit une quantité énorme de déchets
            toxiques qui risquent de finir dans une décharge pour le prochain millénaire....
        </div>
        <div class=""><a class="btn btn-article mt-3 mb-5" href="{{ path('article_8') }}">Lire la suite</a>
        </div>
    </div>
        </div>
    </div>


{% endblock %}