{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar sticky-top pull-right mt-5 mr-3 modal-width" data-toggle="modal" data-target=".bd-example-modal-lg">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/Menu_burger.png') }}" width="45" height="45" alt="">
        </a>
    </nav>

    <div class="coverImgCatalog">
        <div class="coverText offset-lg-2 col-lg-8">
            <h1>Nos services</h1>
            <h6>Un catalogue pour répondre à tous vos projets</h6>
        </div>
    </div>

    {#Catalogue#}
    <div class="section-presentation">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                    <h2 class="text-center mt-5 ">NOS OFFRES</h2>
                    <div class="text-center">
                        <img src="{{ asset('img/Groupe_40.png') }}" width="60">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center img-presentation">
            <picture>
                <source media="(max-width: 799px)" srcset="{{ asset('img/catalog/iconographie_mobile.png') }}">
                <source media="(min-width: 800px)" srcset="{{ asset('img/catalog/iconographie.png') }}">
                <img src="img/{{ asset('img/catalog/iconographie.png') }}">
            </picture>
        </div>

        <div class="container text-center text-linkSize">
            <h6>Pour plus de détails, vous pouvez télécharger notre <a href="{{ asset('documents/catalogue.pdf') }}" download="Catalogue" class="link-catalog">catalogue ici.</a></h6>
        </div>
    </div>

    {#Bloc DEVIS#}
    <div class="container">
        <h2 class="text-center mt-5">DEVIS EN LIGNE</h2>

        <div class="text-center mt-3">
            <img src="{{ asset('img/Groupe_41.png') }}" width="60">
        </div><br>

        <div class="text-center mt-4">
            <h5>Votre agence professionelle et pragmatique vous propose des sites créatifs sur mesure.<br><br>
                Choisissez les options qui vous conviennent (thèmes ou charte graphique personnalisée, optimisation du référencement naturel, campagne de promotion...). Demandez à créer une identité visuelle pour vos sites vitrines<br>
                pour PME et fidélisez votre communauté autour d'une appartenance à une marque.<br><br>
                Développeurs, sous traitez également la partie design pour créer une identité forte pour vos clients. Et pour une Start<br>
                Up ambitieuse ne disposant pas encore d'une équipe en charge du design, confiez vos besoins à Digital Squad !
            </h5>
        </div>
    </div>

        <div class="container mt-5">
            {#Devis en ligne#}
            <div id="accordion">
                <div class="card">
                    <div class="card-header collapse-color" id="headingOne">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapse-text" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="graph_choices">
                                Contenus graphiques
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row text-center">

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label class="text-center">
                                        Landing Page<input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" name="Landing Page" id="option1_graph_landing" value="499">
                                        </label>
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Charte Graphique <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_graph_charte" value="1250" name="Charte Graphique">
                                        </label>
                                        <p class="card-text"><p>options :</p><br>
                                        <label>
                                            Logo <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_graph_charte_logo" value="450" name="Logo">
                                        </label><br>
                                        <label>
                                            Phase de retour <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_graph_charte_retour" value="150" name="Phase de retour">
                                        </label><br>
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Logo <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_graph_logo" value="450" name="Logo">
                                        </label>
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Maquettes <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_graph_maquette" value="490" name="Maquette">
                                        </label>
                                        <p class="card-text"><p>options :</p><br>
                                        <label>
                                            Intégration format HTML <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_graph_maquette_html" value="480" name="Intégration">
                                        </label>
                                    </label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card" id="dev_choices">
                    <div class="card-header collapse-color" id="headingTwo">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed collapse-text" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Développement
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="btn btn-secondary">
                                                WordPress <input type="radio" name="dev_choice" OnClick="checkDevButton();" id="wordpress" autocomplete="off" value="800">
                                            </label>

                                            <p class="card-text"><p>options :</p><br>

                                            <div class="catalog">
                                                <label>
                                                    Logo <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option1_dev_wordpress" value="450" name="Logo" disabled>
                                                </label><br>
                                                <label>
                                                    Charte Graphique <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_dev_wordpress" value="1250" name="Charte Graphique" disabled>
                                                </label><br>
                                                <label>
                                                    Hébergement <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_dev_wordpress" value="75" name="Hébergement" disabled>
                                                </label><br>
                                                <label>
                                                    Maintenance <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_dev_wordpress" value="450" name="Maintenance" disabled>
                                                </label><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="btn btn-secondary">
                                                Symfony <input type="radio" name="dev_choice" OnClick="checkDevButton();" id="symfony" autocomplete="off" value="2800">
                                            </label>

                                            <p class="card-text"><p>options :</p><br>

                                            <div class="catalog">
                                                <label>
                                                    Logo <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option1_dev_symfony" name="Logo" value="450" disabled>
                                                </label><br>
                                                <label>
                                                    Charte Graphique <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_dev_symfony" name="Charte Graphique" value="1250" disabled>
                                                </label><br>
                                                <label>
                                                    Hébergement <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_dev_symfony" name="Hébergement" value="75" disabled>
                                                </label><br>
                                                <label>
                                                    Maintenance <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_dev_symfony" name="Maintenance" value="450" disabled>
                                                </label><br>
                                                <label>
                                                    SEO <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option5_dev_symfony" name="SEO" value="300" disabled>
                                                </label><br>
                                                <label>
                                                    Back Office <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option6_dev_symfony" name="Back Office" value="480" disabled>
                                                </label><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapse-color" id="headingThree">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed collapse-text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Marketing & Ateliers
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        Stratégie SEO <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" name="Stratégie SEO" id="option1_mrk_seo" value="300">
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Campagne Marketing <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_mrk_camp" value="300" name="Campagne Marketing">
                                        </label>
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Référencement <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_mrk_ref" value="300" name="Référencement">
                                        </label>
                                    </label>
                                </div>

                                <div class="col-sm-3 catalog">
                                    <label class="card-body">
                                        <label>
                                            Ateliers <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_mrk_atelier" value="300" name="Ateliers">
                                        </label>
                                    </label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5 button-group text-center">
                <button type="button" class="btn btn-success btn-lg button-reset" onclick="reset();" id="reset">
                    Reset du formulaire
                </button>

                {#Estimation#}
                <button type="button" class="btn btn-primary btn-lg button-estimate" data-toggle="modal" data-target="#quoteModal" id="estimate" onclick="estimate();">
                    Estimer
                </button>
                <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-back">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Le Récapitulatif</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modal-recap">
                                <p id="recap_radio"></p>
                                <p id="recap_options">CHARGEMENT EN COUR...<br>
                                    <img src="{{ asset('img/catalog/loading.gif') }}" width="90" height="90" class="d-inline-block align-top" alt="loading"></p>
                            </div>
                            <div class="modal-footer modal-back">
                                <p id="price"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    <script>
        for(let i of document.querySelectorAll('[type=checkbox]')) { i.checked = false; }

        function checkDevButton() {
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            let checkLogoWordpress = document.getElementById("option1_dev_wordpress");
            let checkLogoSymfony = document.getElementById("option1_dev_symfony");
            let checkCharteWordpress = document.getElementById("option2_dev_wordpress");
            let checkCharteSymfony = document.getElementById("option2_dev_symfony");
            let checkHebergWordpress = document.getElementById("option3_dev_wordpress");
            let checkHebergSymfony = document.getElementById("option3_dev_symfony");
            let checkMaintenanceWordpress = document.getElementById("option4_dev_wordpress");
            let checkMaintenanceSymfony = document.getElementById("option4_dev_symfony");
            let checkSeoSymfony = document.getElementById("option5_dev_symfony");
            let checkBackSymfony = document.getElementById("option6_dev_symfony");

            if (radioWordpress.checked) {
                checkLogoWordpress.disabled = false;
                checkCharteWordpress.disabled = false;
                checkHebergWordpress.disabled = false;
                checkMaintenanceWordpress.disabled = false;

                radioSymfony.disabled = true;
                checkLogoSymfony.disabled = true;
                checkCharteSymfony.disabled = true;
                checkHebergSymfony.disabled = true;
                checkMaintenanceSymfony.disabled = true;
                checkSeoSymfony.disabled = true;
                checkBackSymfony.disabled = true;
            } if (radioSymfony.checked) {
                checkLogoWordpress.disabled = true;
                checkCharteWordpress.disabled = true;
                checkHebergWordpress.disabled = true;
                checkMaintenanceWordpress.disabled = true;

                radioSymfony.disabled = false;
                checkLogoSymfony.disabled = false;
                checkCharteSymfony.disabled = false;
                checkHebergSymfony.disabled = false;
                checkMaintenanceSymfony.disabled = false;
                checkSeoSymfony.disabled = false;
                checkBackSymfony.disabled = false;
            }
        }

        function reset() {
            let resetAll = document.getElementById("reset");
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            resetAll.onclick = function () {
                radioWordpress.checked = false;
                radioWordpress.disabled = false;
                radioSymfony.checked = false;
                radioSymfony.disabled = false;

                document.location.reload(true);
            }
        }
        
        function estimate() {
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            let recapRadio = document.getElementById("recap_radio");
            let recapOptions = document.getElementById("recap_options");
            let price = document.getElementById("price");

            setTimeout(finishEstimate, 5000);
            
            function finishEstimate() {
                let array = "";
                let total = 0;
                let totalWp = 800;
                let totalSf = 2800;
                let checked = document.querySelectorAll("input[type='checkbox']:checked");
                let nameOf = document.querySelectorAll(".op");

                if (radioWordpress.checked || radioSymfony.checked) {
                    if (radioWordpress.checked) {
                        recapRadio.innerHTML = "Site WordPress";

                        for (let i = 0; i < nameOf.length; i++) {
                            if (nameOf[i].checked === true) {
                                array += nameOf[i].name + "<br>";
                            }
                            recapOptions.innerHTML = "Options :" + "<br>" + array;
                        }

                        for (let i = 0; i < checked.length; i++) {
                            if (checked[i].checked === true) {
                                totalWp += parseFloat(checked[i].value);

                                price.innerHTML = "Votre estimation : " + totalWp + "€";
                            }
                        }
                        price.innerHTML = "Votre estimation : " + totalWp + "€";

                    }

                    if (radioSymfony.checked) {
                        recapRadio.innerHTML = "Site Symfony";

                        for (let i = 0; i < nameOf.length; i++) {
                            if (nameOf[i].checked === true) {
                                array += nameOf[i].name + "<br>";
                            }
                            recapOptions.innerHTML = "Options :" + "<br>" + array;
                        }

                        for (let i = 0; i < checked.length; i++) {
                            if (checked[i].checked === true) {
                                totalSf += parseFloat(checked[i].value);
                            }
                            price.innerHTML = "Votre estimation : " + totalSf + "€";
                        }
                        price.innerHTML = "Votre estimation : " + totalSf + "€";
                }}else {
                    for (let i = 0; i < nameOf.length; i++) {
                        if (nameOf[i].checked === true) {
                            array += nameOf[i].name + "<br>";
                        }
                        recapOptions.innerHTML = "" + "<br>" + array;
                    }

                    for (let i = 0; i < checked.length; i++) {
                        if (checked[i].checked === true) {
                            total += parseFloat(checked[i].value);
                        }
                        price.innerHTML = "Votre estimation : " + total + "€";
                    }
                }

            }
        }
    </script>

{% endblock %}