{% extends 'base.html.twig' %}

{% block title %}Formulaire de Contact{% endblock %}

{% block body %}
    <style>
        .contact-img{
            background-image: url("{{ asset('contact.jpg') }}");
            min-width: 100%;
            min-height: 100%;
        }

        .form-border{
            border: none;
        }
    </style>

    <header class="contact-img">
        <h1>Nous contacter</h1>
        <h2>Un renseignement ? Besoin de nous ?</h2>
    </header>

    <body class="text-center">
    <p>Contactez-nous pour réaliser vos projets à l'aide de ce formulaire de contact, l'agence Digital Squad sera ravie de vous répondre dans les deux jours ouvrés.</p>

    {# Formulaire de contact #}
    <div class="container">
        {{ form_start(form) }}
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_row(form.Nom) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_row(form.Societe) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_row(form.Email) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_row(form.Telephone) }}
                </div>
            </div>

            <div class="form-group col-md-3">
                {{ form_row(form.Objet) }}
            </div>

            <div class="form-group col-md-3">
                {{ form_row(form.Message) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.RGPD) }}
            </div>

            <button type="submit" value="Submit" class="btn btn-primary">Envoyer</button>
        </form>
        {{ form_end(form) }}
    </div>

    {#Devis Icon#}
    <div class="container">
        <p>Créez votre devis intéractif ici !</p>
        <img src="{{ asset('Groupe_13.png') }}" alt="icono-lien">
        <a href="{{ path('catalog') }}">
            <img src="{{ asset('letter.png') }}" alt="letter">
        </a>
    </div>


    </body>

{% endblock %}
