<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/reference.css') }}">
<div class="coverImg">
    <div class=" coverText offset-lg-2 col-lg-8">
        <h1>Nos Clients</h1>
        <h6>In cursus auctor turpis et posuere. Phasellus vel sapien quis odio rutrum consequat.</h6>
    </div>
</div>

<div class="container">
    <div class="text-center mt-5"><h3>Références</h3></div>
    <div class="text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique orci sit amet
        arcu interdum, vel tristique dolor euismod. Etiam ac vulputate felis. Quisque blandit ac urna id condimentum. Aenean euismod placerat scelerisque.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique orci sit amet arcu interdum </div>
</div>

<div class="references">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-4 mt-3">
                <a href="#"><img src="{{ asset('img/ref1.jpg') }}" class="img-fluid imgRef"></a>
                <h4 class="mt-2">Référence Alain</h4>
            </div>
            <div class="offset-lg-1 col-lg-4 offset-lg-2 mt-5">
                <a href="#"><img src="{{ asset('img/ref2.jpg') }}" class="img-fluid imgRef"></a>
                <h4 class="mt-2">Référence Emmanuel</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="offset-lg-1 col-lg-4 mt-3">
                <a href="#"><img src="{{ asset('img/ref2.jpg') }}" class="img-fluid imgRef"></a>
                <h4 class="mt-2">Référence Alain</h4>
            </div>
            <div class="offset-lg-1 col-lg-4 offset-lg-2 mt-5">

                <a href="#"><img src="{{ asset('img/ref1.jpg') }}" class="img-fluid imgRef"></a>
                <h4 class="mt-2">Référence Emmanuel</h4>
            </div>
        </div>
    </div>



</div>
